body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
}

.Topbar {
    background-color: #333;
    color: black;
    font-family: Arial, sans-serif;
    font-size: larger;
    height: 80px;
    width: 100%;
}

.container {

    display: flex;
   
}

.list{
    height: 80px;
    padding-left: 40px;
}

nav ul {
    list-style: none;
    display: flex;
}
  
  nav ul li {
    display: inline-block;
    position: relative;
    margin-left: 5px;
    padding-left: 15px;
    padding-right: 15px;
    list-style: none;
    height: 80px;
    line-height: 80px; 
    color: #fff;
  }

  ul li a {
    text-decoration: none;
    color: #fff;
  }

.fs-1{
    padding-top: 5px;
    padding-left: 10px;
    font-size: 50px;
    color: #fff;
  }


 li:hover {
    background: #428ae2;
  cursor: pointer; 
  transition: background .5s; 
}

.custom-image {
    width: 64px;
    height: 64px;
}

.img-heading {
  width: 320px;
  height: auto;

}

.img-express {
  width: 360px;
  height: auto;
}

.img-express-big {
  width: 650px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-small {
  width: 250px;
  height: auto;
}